// Grid settings
// --------------------------------------------------

@total-width: 100%;
@container-width: 73.125%; // 1170px;

// Variables
//
// ------------- Colors -------------
@tomato: 					#f36b47;
@white: 					#fff;
@dark: 						#414141;
@gray: 						#9d9c9c;


@brand-color: 				@tomato;



// ------------- Typography-------------
@sans-serif: 				'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
@main-font: 				@sans-serif;

@base-size: 				12px;

// @h1-size:  
// @h2-size:
// @h3-size:
// @h4-size:
// @h5-size:
